<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" href="style.css">
    <title>A Tic-Tac-Toe Game</title>
</head>

<body>
    <link rel="stylesheet" href="style.css">
    <div>
        <div class="title">
        Hello! Wabby Wabbo!!!!
        </div>
        <div class="important">
            <p></p>
        This is a very elementary tic-tac-toe game.
        </div>
        <div class="normal"> 
            <p>You may find it hard to play. Or you may struggle. </p>
            <p>Yes, you are quite right. </p>
            <p>This is due to the fact that the person who wrote it is a pretty beginner. She struggled too.</p>
            <p>Since you opened this pape, I guess you have to play it for some reason. Well, sorry about this.</p>
            <p>Anyway, please enter your name here.</p>
        </div>
    <form> 
        <div class="important">
            <label for="playmode" class="gamemode-label">Game mode:</label>
            <select name="playmode" id="playmode">
                <option value="humanhuman">human vs human</option>
                <option value="humanbot">human vs bot</option>
            </select>
         </div> 
        <p>
            <label> Player1 Name:
                <input name="player1"/>
            </label>
            <br>
            <label> Player2 Name (if bot please enter "bot"):
                <input name="player2"/>
            </label>
        </p>
            <button type="submit">Start</button>
        </div>
    </form>  
    </div>
</body>
</html>